<nav class="main-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="" class="nav-link">Exam Portal</a></li>
        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link">Select Exam</a></li>
        <li class="nav-item"><a href="" class="nav-link">Add Exam</a></li>
        <li class="nav-item"><a href="" class="nav-link">Add Question</a></li>
        <li class="nav-item"><a href="" class="nav-link">Show Detail</a></li>
      </ul>
    </nav>